



<span>{{ title }} app is running!</span>


<nav>
  <a [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a>
  &nbsp;
  <a [routerLink]="['/zapatillas']" [routerLinkActive]="['active']">Zapatillas</a>
  &nbsp;
  <a [routerLink]="['/cursos']" [routerLinkActive]="['active']">Cursos</a>
  &nbsp;
  <a [routerLink]="['/videojuego']" [routerLinkActive]="['active']">Videojuego</a>
</nav>

<hr>
<!--


  //<p>{{descripcion}}</p>


  <button (click)="ocultarVideojuegos(false)" *ngIf="mostrar_videojuegos">Ocultar</button>
  <button (click)="ocultarVideojuegos(true)" *ngIf="!mostrar_videojuegos">Mostrar</button>

  <videojuego *ngIf="mostrar_videojuegos"> </videojuego>
  <zapatillas></zapatillas>
  <cursos></cursos>


-->
<!--
<zapatillas></zapatillas>
-->
<router-outlet></router-outlet>
